<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${topic.name}">Document</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
            <div class="header__nav-item"><a href="/hashtags" class="header__nav-link">Hashtags</a></div>
        </nav>
    </header>
    <main class="main-content">
        <section class="main-content__topic topic">
            <h2 th:text="${topic.name}" class="topic__title main-content__title">
                Topic
            </h2>
            <nav class="main-content__nav posts__nav">
                <div th:each="post: ${topic.post}">
                    <a th:text="${post.title}" th:href="'/posts/'+${post.id}" href="#"
                       class="posts__nav-link"></a>
                </div>
                <form action="/posts/addPost"  method="POST">
                    <div class = "field"><br>
                        <h3>Add Post</h3>
                        <input type="hidden" id="newPost" name="newPost">
                        <input type="hidden" id="topicId" name="topicId" th:value="${topic.id}"><br>
                        <label for="title">Title</label><br>
                        <input type="text" id="title" name="title"><br>
                        <label for="title">Author</label><br>
                        <input type="text" id="author" name="author"><br>
                        <label for="title">Post Content</label><br>
                        <textarea type="text" id="content" name="content"></textarea>

                    </div>
                    <button type="submit">Add Post</button>

                </form>
            </nav>
        </section>
    </main>
</div>
</body>

</html>